.yellow-bg{
    background: yellow;
}


.alert-box {
    background: #b1b1ea;
    color: #2626ce;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.alert-box p{
    display: inline;
}

.main-background{
    background-image: url(person.jpg);
    background-size: cover;
    color:white;
}

.black-background {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
}

div {

}

.white-background {
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}
