.yellow-bg{
    background: yellow;
}


.alert-box {
    background: #b1b1ea;
    color: #2626ce;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.alert-box p{
    display: inline;
}

.black-background {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}

.white-background {
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.main-backgruond {
    background-image: url(person.jpg);
    background-size: cover;
    color:white;
    border-radius: 0px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.nav-sub {
    display: none;
}

#email-alert {
    display: none;
}

#psw-alert {
    display: none;
}
